<div class="toolbar" [style.background]="theme?.light">
    <ng-container *ngFor="let item of commands | keyvalue">
        <div class="subtools" [class]="item.key">
            <div class="tools" *ngFor="let command of commands[item.key]">
                <button mat-stroked-icon-button color="primary" class="tool bold"
                    (click)="setOutput(item.key, command.cmd)" [title]="command.title">
                    <mat-icon [style.color]="getStyle(item.key, command.cmd)?(theme?.value):'#000000'" class="add-icon">
                        {{command.icon}}
                    </mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
    <div class="subtools miscellneous">
        <div class="tool-list">
            <button mat-stroked-icon-button color="primary" class="tool link" (click)="setAnchorLink($event)"
                [matMenuTriggerFor]="anchor" #anchorMenuTrigger="matMenuTrigger"
                [title]="getStyle('miscellneous', 'link')?'UnLink':'Create Link'">
                <mat-icon class="add-icon" [style.color]="getStyle('miscellneous', 'link')?(theme?.value):'#000000'">
                    {{getStyle('miscellneous', 'link')?'link_off':'insert_link'}}
                </mat-icon>
            </button>
            <mat-menu #anchor="matMenu">
                <form (click)="$event.stopPropagation()">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Anchor Link</mat-label>
                        <input matInput type="text" [formControl]="anchorLink">
                        <button *ngIf="anchorLink.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="anchorLink.patchValue('')">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="anchorLink.hasError('pattern') && !anchorLink.hasError('required')">
                            Please enter a valid web address
                        </mat-error>
                        <mat-error *ngIf="anchorLink.hasError('required')">
                            Web address is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button mat-icon-button color="primary" class="Submit Link" [disabled]="!anchorLink.valid"
                        (click)="setOutput('miscellneous','createLink', anchorLink.value);anchorMenuTrigger.closeMenu()"
                        title="Add Anchor to Link">
                        <mat-icon class="add-icon">send</mat-icon>
                    </button>
                </form>
            </mat-menu>
        </div>
        <div class="tool-list miscellneous">
            <button mat-stroked-icon-button color="primary" class="tool fontColor" [matMenuTriggerFor]="fontColor"
                [style.color]="getStyle('miscellneous', 'foreColor')?getStyle('miscellneous', 'foreColor',true):'#000000'"
                title="Font Color" #fontColorMenuTrigger="matMenuTrigger">
                <mat-icon class="add-icon">
                    create
                </mat-icon>
            </button>
            <mat-menu #fontColor="matMenu">
                <div style="display:flex;">
                    <button mat-icon-button (click)="setOutput('miscellneous','foreColor','#000000')">
                        <mat-icon [style.color]="'#000000'">disabled_by_default</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','foreColor','#A60000')">
                        <mat-icon [style.color]="'#A60000'">square</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','foreColor','#2C0066')">
                        <mat-icon [style.color]="'#2C0066'">square</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','foreColor','#0CC078')">
                        <mat-icon [style.color]="'#0CC078'">square</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','foreColor','#E5BF00')">
                        <mat-icon [style.color]="'#E5BF00'">square</mat-icon>
                    </button>
                </div>
            </mat-menu>
        </div>
        <div class="tool-list miscellneous">
            <button mat-stroked-icon-button color="primary" class="tool highlight" [matMenuTriggerFor]="highlight"
                [style.backgroundColor]="getStyle('miscellneous', 'backColor')?getStyle('miscellneous', 'backColor',true):'#EFEFEF'"
                title="Highlight" #highlightMenuTrigger="matMenuTrigger">
                <mat-icon class="add-icon">
                    insights
                </mat-icon>
            </button>
            <mat-menu #highlight="matMenu">
                <div style="display:flex;">
                    <button mat-icon-button (click)="setOutput('miscellneous','backColor','transparent')">
                        <mat-icon [style.color]="'#000000'">disabled_by_default</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','backColor','#05CF02')">
                        <mat-icon [style.color]="'#05CF02'">square</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','backColor','#FF8C0A')">
                        <mat-icon [style.color]="'#FF8C0A'">square</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','backColor','#E9FA01')">
                        <mat-icon [style.color]="'#E9FA01'">square</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOutput('miscellneous','backColor','#FC098F')">
                        <mat-icon [style.color]="'#FC098F'">square</mat-icon>
                    </button>
                </div>
            </mat-menu>
        </div>
        <div class="tool-list">
            <button mat-stroked-icon-button color="primary" class="tool remove-format"
                (click)="setOutput('miscellneous','removeFormat')" title="Remove Formatting">
                <mat-icon class="add-icon">block</mat-icon>
            </button>
        </div>
    </div>
    <div class="subtools edit">
        <div class="tool-list">
            <button mat-stroked-icon-button color="primary" class="tool undo" (click)="setOutput('edit','undo')"
                title="Undo">
                <mat-icon class="add-icon">undo</mat-icon>
            </button>
        </div>
        <div class="tool-list">
            <button mat-stroked-icon-button color="primary" class="tool redo" (click)="setOutput('edit','redo')"
                title="Redo">
                <mat-icon class="add-icon">redo</mat-icon>
            </button>
        </div>
    </div>

    <div class="subtools select">
        <div class="tool-list">
            <button mat-stroked-icon-button color="primary" class="tool remove" title="Remove All"
                (click)="removeAll()">
                <mat-icon class="add-icon">delete_sweep</mat-icon>
            </button>
        </div>
        <div class="tool-list">
            <button mat-stroked-icon-button color="primary" class="tool select-all" title="Select All"
                (click)="selectAll()">
                <mat-icon class="add-icon">select_all</mat-icon>
            </button>
        </div>
    </div>
</div>