.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

    .subtools {
        display: flex;
        flex-direction: row;
        margin: 0 5px;

        .tools {
            .tool {
                font-weight: 700;
            }
        }
    }
}