@import '../../../styles.scss';

.sparkle {
    background: $sparkle-notes-white;
    padding: 20px;
}

.logo {
    z-index: -10;
}

.svg-wrapper {
    position: relative;

    .add-new-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;

        .add-new {
            margin-top: 300px;
            background-color: $sparkle-notes-yellow;
            border: 1px solid $sparkle-notes-blue;
            border-radius: 999rem;
            color: $sparkle-notes-blue;
            z-index: 10;
        }
    }
}