$sparkle-notes-blue:#353148;
$sparkle-notes-yellow:#D9C39E;
$sparkle-notes-red:#fc4c4c;
$sparkle-notes-white:#fff;
$sparkle-notes-gold:#ffd700;
$sparkle-notes-black:#000000;
$sparkle-body-margin: 100px;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}