<div class='background-editor' [style.borderColor]="theme?.value"
    [style.backgroundImage]="'repeating-linear-gradient('+theme?.lightest+' 0px, '+theme?.lightest+' 29px, '+theme?.value+' 30px)'">
    <div #editor id="editor" (input)="inputContent($event)" (blur)="setContent($event)" (mouseup)="setSelection($event);"
        [style.backgroundImage]="'repeating-linear-gradient('+theme?.lightest+' 0px, '+theme?.lightest+' 29px, '+theme?.value+' 30px)'"
        [style.borderColor]="theme?.value" class='main-editor' contenteditable="true" spellcheck='false'>
    </div>
</div>