@import '../../../styles.scss';

.background-editor {
    border: 1px solid;
    height: 50vh;

    .main-editor {
        border-left: 5px double;
        border-right: 5px double;
        font-family: 'Times New Roman', Times, serif;
        line-height: 30px;
        margin: 0 60px;
        overflow-y: auto;
        padding: 0 10px;

        &:focus {
            outline: 0;
            
        }
    }
}