@import "../../../styles.scss";

.menu-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .menu-wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .new-button {
            color: $sparkle-notes-blue;

            .add-new {
                background: $sparkle-notes-yellow;
                border: 1px solid $sparkle-notes-blue;
                border-radius: 999rem;
                color: $sparkle-notes-blue;
                font-size: larger;
                font-weight: 800;
            }
        }

        .sort-select {
            align-items: center;
            display: flex;
            flex-direction: row;
            padding-left: 10px;


            .add-goals {
                background-color: $sparkle-notes-yellow;
                border: 1px solid $sparkle-notes-blue;
                border-radius: 999rem;
                color: $sparkle-notes-blue;
                margin: 3px;
            }

        }
    }

    .goals-button {
        color: $sparkle-notes-blue;

        .add-goals {
            background-color: $sparkle-notes-yellow;
            border: 1px solid $sparkle-notes-blue;
            border-radius: 999rem;
            color: $sparkle-notes-blue;
            margin: 3px;
        }
    }
}

::ng-deep {
    .color-menu {
        display: flex;
        flex-wrap: wrap;
        width: 120px;

        .add-color {
            flex: 0 0 25%;
        }
    }

    .type-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 140px;

        .type-icon {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}