<div class="menu-container">
    <div class="menu-wrapper">
        <div class="new-button">
            <button mat-stroked-button color="primary" class="add-new" title="Choose Notes"
                [matMenuTriggerFor]="newMenu">
                <mat-icon class="add-icon">add</mat-icon> ADD NEW
            </button>
            <mat-menu #newMenu="matMenu">
                <div class="type-menu">
                    <ng-container *ngFor="let type of types">
                        <button mat-flat-button class="add-type" [title]="type.type" (click)="routeTo(type.value)">
                            <div class="type-icon" [style]="'type:'+ type.value ">
                                <mat-icon>{{type.icon}}</mat-icon>{{type.type}}
                            </div>
                        </button>
                    </ng-container>
                </div>
            </mat-menu>
        </div>
        <div class="sort-select">
            <mat-form-field >
                <mat-label>
                    <mat-icon>sort</mat-icon>Sort By:
                </mat-label>
                <mat-select [formControl]="sort">
                    <mat-select-trigger>
                        {{sort.value ? getSortName(sort.value) : ''}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                        <mat-icon>{{sort.icon}}</mat-icon>{{sort.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button color="primary" class="add-goals"
                [title]="!sortDsc?'Sort Ascending':'Sort Decending'" (click)="sortDsc=!sortDsc">
                <mat-icon class="goal-icon">{{sortDsc?'text_rotate_up':'text_rotation_down'}}</mat-icon>
            </button>
        </div>
        <div class="sort-select">
            <mat-form-field >
                <mat-label>
                    <mat-icon>filter_list</mat-icon>Filter By:
                </mat-label>
                <mat-select multiple [formControl]="filter">
                    <mat-select-trigger>
                        {{filter.value ? getFilterName(filter.value[0]) : ''}}
                        <span *ngIf="filter.value?.length > 1" class="example-additional-selection">
                            (+{{filter.value.length - 1}} {{filter.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let fil of filters" [value]="fil.value">
                        <mat-icon>{{fil.icon}}</mat-icon>{{fil.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="color-button">
            <button mat-icon-button class="add-color" [matMenuTriggerFor]="color">
                <mat-icon class="color-icon" [style]="'color:'+themeColor.value" [title]="themeColor.color">
                    {{themeColor.value?'square':'disabled_by_default'}}</mat-icon>
            </button>
            <mat-menu #color="matMenu">
                <div class="color-menu">
                    <ng-container *ngFor="let color of colors">
                        <button mat-icon-button class="add-color"
                            [title]="color.color===themeColor.color?'No Color':color.color">
                            <mat-icon color="color-icon"
                                [style]="'color:'+ (color.color!==themeColor.color?color.value:'')"
                                (click)="color.color!==themeColor.color?(themeColor=color):themeColor=defaultTheme">
                                {{color.color!==themeColor.color?'square':'disabled_by_default'}}
                            </mat-icon>
                        </button>
                    </ng-container>
                </div>
            </mat-menu>
        </div>
    </div>
    <div class="goals-button">
        <button mat-stroked-button color="primary" class="add-goals">
            <mat-icon class="goal-icon">auto_graph</mat-icon> ADD YOUR'S GOALS
        </button>
        <button mat-stroked-button color="primary" class="add-goals">
            <mat-icon class="goal-icon">auto_stories</mat-icon> ADD/VIEW DIARY
        </button>
        <button mat-stroked-button color="primary" class="add-goals">
            <mat-icon class="goal-icon">event</mat-icon> VIEW IN CALENDAR
        </button>
        <button mat-icon-button color="primary" class="add-goals" title="bin">
            <mat-icon class="goal-icon">delete_outline</mat-icon>
        </button>
    </div>
</div>