@import '../../../styles.scss';

.footer {
    background-color: $sparkle-notes-yellow;
    border-bottom: 1px solid $sparkle-notes-blue;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 8px 5px $sparkle-notes-blue;
    font-family: cursive;
    padding: 10px 20px;

    .footer-wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .divider {
            border-right-color: $sparkle-notes-blue;
            border-right-width: 5px;
            height: 100px;
        }

        .about {
            display: flex;
            flex-direction: column;

            .title {
                font-size: large;
                font-weight: bolder;
                padding: 10px;
            }

            .email,
            .phone {
                padding: 10px;

                .link {
                    color: $sparkle-notes-blue;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }

        .copyright {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                padding: 10px;

                .sparkle-red {
                    color: $sparkle-notes-red;
                }
            }

            .love {
                padding: 10px;

                .red-text {
                    color: $sparkle-notes-red;
                }

                .sparkle-red {
                    color: $sparkle-notes-red;
                }
            }
        }

        .header-logo {
            align-items: center;
            display: flex;
            text-decoration: none;
            width: fit-content;


            .logo {
                height: 60px;
            }


            .logo-captions {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .logo-text {
                    height: 20px;
                    padding: 6px 0;
                    width: 150px;
                }

                .logo-description {
                    color: $sparkle-notes-blue;
                }
            }
        }
    }
}