<div class="footer">
    <div class="footer-wrapper">
        <a class="header-logo" [routerLink]="['/']">
            <img src="/assets/sparkle-notes-logo.png" class="logo" />
            <div class="logo-captions">
                <img src="/assets/sparkle-notes-text.png" class="logo-text" />
                <div class="logo-description">All yours' notes at one place.</div>
            </div>
        </a>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <div class="about">
            <span class="title">
                -by SHIVAM KUMAR GIRI
            </span>
            <span class="email">
                Email: <a class="link" href="mailto:shivamgiri2015@gmail.com"> shivamgiri2015@gmail.com</a>
            </span>
            <span class="phone">
                Phone Number: <a class="link" href="phone:+919361688508"> +9193XXXXX508</a>
            </span>
        </div>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <div class="copyright">
            <span class="title">
                Copyright © 2021, All rights reseved by Shivam Kumar Giri
            </span>
            <span class="love">
                Made with <span class="red-text">❤</span> by Shivam Kumar Giri
            </span>
        </div>
    </div>
</div>