@import '../../../styles.scss';

.theme-bar {
    align-items: center;
    border: 3px solid;
    border-top: 0;
    display: flex;
    gap: 30px;
    height: 90px;
    justify-content: flex-start;
    margin: 0 $sparkle-body-margin;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;

    .add-color {
        border: 3px solid $sparkle-notes-black;
        border-radius: 0;
        display: flex;
        height: 40px;
        justify-content: center;
        padding-top: 3px;
        width: 40px;
    }

    .save-color {
        border-radius: 0;

        &.mat-button-disabled {
            opacity: 0.4
        }

        .color-icon {
            font-size: 40px;
            height: 40px;
            line-height: 40px;
            width: 40px;
        }
    }

    .title-bar {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        flex-grow: 1;
    }

    ::ng-deep {
        .mat-mdc-icon-button {
            padding: 0;
        }
    }
}