<div class="theme-bar" [style.backgroundColor]="themeColor.light" [style.borderColor]="themeColor.value">
    <div class="color-button">
        <button class="add-color" [matMenuTriggerFor]="color" [style]="'background-color:'+themeColor.value" [title]="themeColor.color">
        </button>
        <mat-menu #color="matMenu">
            <div class="color-menu">
                <ng-container *ngFor="let color of colors">
                    <button mat-icon-button class="pick-color" [title]="color.color" (click)="setColor(color)">
                        <mat-icon [style]="'color:'+color.value">
                            {{color.color!==themeColor.color?'square':'disabled_by_default'}}
                        </mat-icon>
                    </button>
                </ng-container>
            </div>
        </mat-menu>
    </div>
    <mat-form-field class="title-bar" appearance="fill">
        <mat-label>Enter title</mat-label>
        <input matInput type="text" [(ngModel)]="title" autocomplete="off">
        <button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" title="Clear" (click)="title=''">
            <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="!title" matSuffix mat-icon-button aria-label="Title" title="Enter Title Here">
            <mat-icon>title</mat-icon>
        </button>
    </mat-form-field>
    <button mat-icon-button class="save-color" (click)="marked=!marked"
        [title]="marked?'Remove Bookmark':'BookMark as Important, will be shown at top.'">
        <mat-icon class="color-icon" [style]="'color:'+ themeColor.value">
            {{marked?'star':'star_border'}}
        </mat-icon>
    </button>
    <button mat-icon-button class="save-color" (click)="autoLink=!autoLink"
        [title]="autoLink?'Remove Autolink, will not automatically process the email and urls links':'AutoLink will automatically process the email and urls links.'">
        <mat-icon class="color-icon" [style]="'color:'+ themeColor.value">
            {{autoLink?'leak_remove':'leak_add'}}
        </mat-icon>
    </button>
    <button mat-icon-button class="save-color" (click)="saveContent()" [disabled]="!contentStarted" title="Save">
        <mat-icon class="color-icon" [style]="'color:'+themeColor.value">send</mat-icon>
    </button>
</div>