@import '../../../styles.scss';

.theme-bar {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: start;
    padding: 0 $sparkle-body-margin;
    border-radius: 0 0 50px 50px;

    .add-color {
        border: 4px solid $sparkle-notes-black;
        border-radius: 0;
        display: flex;
        justify-content: center;
        margin: 0 20px;
        padding-top: 3px;

        .main-color-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
        }
    }

    .save-color {
        margin-left: 20px;
        border-radius: 0;

        &.mat-button-disabled {
            opacity: 0.4
        }

        .color-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
            line-height: 40px;
        }
    }

    .title-bar {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
    }
}