<div class="homepage">
    <app-toolbar></app-toolbar>
    <div #noData class="no-data">
        <span><mat-icon class="sparkle-icon">auto_awesome</mat-icon>  We currently have <span class="red-marked"> No Data </span> to display. <mat-icon class="sparkle-icon">auto_awesome</mat-icon></span>
        <app-animation-homepage class="animation"></app-animation-homepage>
        <span><mat-icon class="sparkle-icon">auto_awesome</mat-icon> Please add a new event, checklist, 100 goals, todos or notes. <mat-icon class="sparkle-icon">auto_awesome</mat-icon></span>
    </div>
</div>