@import '../../../styles.scss';

.homepage {
    margin: 40px $sparkle-body-margin;

    .no-data {
        align-items: center;
        color: $sparkle-body-margin;
        display: flex;
        flex-direction: column;
        font-family: cursive;
        font-size: 24px;
        font-weight: 700;
        justify-content: center;
        line-height: 1.2;
        margin-top: 100px;
        text-align: center;

        .sparkle-icon {
            color: $sparkle-notes-gold;
        }

        .red-marked {
            color: $sparkle-notes-red;
        }

        .animation {
            margin: 30px;
            opacity: 0.5;
            width: 600px;
        }
    }
}